@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

/* Reset básico */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body */

body{
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}

/* Inicio nav */

nav{
    background-color: navy;

    ul{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        list-style: none;
        max-width: 56.25rem;

        li{
            text-align: center;
            align-content: center;
            width: 100%;

            .logo {
                    font-family: "Sixtyfour Convergence", sans-serif;
                }

            a {
                display: block;
                text-decoration: none;
                font-size: 1.125rem;
                color: lavender;
                padding: 1rem;
            }

            .icons{
                max-width: 3.75rem;
            }
        }
    }
}

/* Fin nav */

/* Inicio main */

.cartShopping{
    background-color: rgb(211, 211, 240);
    color: navy;
    width: 18.75rem;
    margin: 1.25rem;
    padding: 12px;
    border: 0.125rem solid navy;
    /* Ocultamos el cuadro de compra por defecto */
    /* display: none; */
    float: left;

    h3{
        font-size: 24px;
        margin: 1rem;
    }

    div{

        h4 {
            font-size: 16px;
            margin: 1rem;
        }

        .divProduct{
            position: relative;

            h4{
                max-width: 190px;
                font-size: 18px;
                margin-bottom: 0.5rem;
                display: inline-block;
            }

            .divNumber {
                position: absolute;
                top: 14px;
                right: 0;
                width: 36px;
                height: 28px;
                background-color: navy;
                color: lavender;
                text-align: center;
                padding: 6px;
                margin-right: 16px;
                border-radius: 12px;
                border-width: 0;
            }

            .pPrice{
                font-size: 16px;
                margin: 0;
                padding-left: 18px;
            }

            .divButtons{
                display: flex;
                justify-content: flex-end;
            }

            .divButtons div{
                display: inline-block;
                background-color: rgba(0, 0, 128, 0.661);
                color: lavender;
                text-align: center;
                align-content: center;
                padding: 6px;
                width: 28px;
                height: 28px;
                border-radius: 14px;
            }

            .divButtons div:first-child{
                margin: -10px 0 10px 0;
            }

            .divButtons div:last-child{
                margin: -10px 16px 10px 10px;
            }
        }

        #pTotal{
            font-size: 18px;
            margin: 1rem 0;
            padding-right: 18px;
            font-weight: bold;
            text-align: right;
        }
    }
}

.button{
    background-color: navy;
    color: lavender;
    margin: 12px auto;
    padding: 12px;
    border-radius: 12px;
    border-width: 0;
    text-align: center;
    font-size: 18px;
    width: 90%;
    cursor: pointer;
}

/* Estilo para botón cuando no hay stock */
.disabled{
    background-color: lightsteelblue;
    color: darkred;
    cursor: not-allowed;
}

/* Estilo para ocultar elementos */
/* .displaynone{
    display: none;
} */

.container{
    max-width: 1000px;
    margin: 10px auto 50px auto;
}

.videogames{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 300px;
        border: 3px solid navy;
        border-radius: 20px;
        padding: 12px;
        margin: 16px auto;

        img{
            max-width: 250px;
            max-height: 300px;
            padding: 4px 12px;
        }

        h3{
            padding: 4px 12px;
        }

        h4{
            padding: 4px 12px;
        }

        p{
            padding: 4px 12px;
        }
    }

    
}

/* Fin main */

/* Inicio footer */

footer{
    background-color: navy;
    color: lavender;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
}

/* Fin footer */