* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #28a745;
    padding: 20px 0;
}

.nav-superior .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    color: white;
    font-size: 28px;
    margin-right: 50px;

}

.nav-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.nav-menu a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

.nav-menu a:hover {
    color: #f0f0f0;

}



/* main */